name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} - ${{ matrix.appraisal }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.3.0'
          - '3.2.2'
          - '3.1.4'
        appraisal:
          - 'railties-7-sidekiq'
          - 'railties-6-sidekiq'
          - 'railties-7-no-sidekiq'
          - 'railties-6-no-sidekiq'
          - 'no-railties-no-sidekiq'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Install Appraisal Gems
      run: bundle exec appraisal install
    - name: Run the specs for Appraisal
      run: bundle exec appraisal ${{ matrix.appraisal }} rake spec
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage/${{ matrix.ruby }}-${{ matrix.appraisal }}/coverage.json
        token: ${{ secrets.CODECOV_TOKEN }}

